.about {
  margin: 0 0 5rem;
}

.about-content {
  &__box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 0 2rem;
    gap: 1.5rem var(--gap);

    @media (max-width: $mobile) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__title {
    @media (max-width: $mobileSmall) {
      margin: 0 0 1.5rem;
      font-size: 2.5rem;
    }
  }

  &__text {
    grid-column: 6 span;
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 var(--gap);

    img {
      grid-column: 6 span;

      @media (max-width: $mobile) {
        width: 100%;
      }
    }

    @media (max-width: $mobile) {
      grid-template-columns: repeat(6, 1fr);
      gap: var(--gap);
    }
  }
}
