.header {
  margin: 0 0 5.1rem;
}

.header-top {
  @include flex-all-sb;

  border-bottom: 1px solid var(--grey-color);
  padding: 2rem 0 1.95rem;

  &__contacts {
    @include flex;

    gap: 0 var(--gap);

    @media (max-width: $mobile) {
      flex-wrap: wrap;
      align-items: flex-start;
      gap: var(--gap);
    }
  }

  &__contact {
    @include flex;

    flex-direction: column;
    align-items: flex-end;
    min-width: 180px;

    @media (max-width: $mobileSmall) {
      align-items: flex-start;
    }
  }

  &__caption {
    font-size: 0.875rem;
    line-height: 1.05rem;
  }

  &__link {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: normal;
    text-align: right;
    color: var(--purple-color);

    &--border {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: 0.3125rem;
        width: 100%;
        height: 0.0625rem;
        background-color: currentcolor;
      }
    }
  }

  @media (max-width: $tablet) {
    flex-wrap: wrap;
    gap: var(--gap) 0;
  }
}

.header-bottom {
  @include flex-all-sb;

  padding: 1rem 0 0;
}

.nav {
  &__list {
    @include flex-v-center;

    gap: 0 2.7813rem;

    @media (max-width: 71.875em) {
      flex-direction: column;
    }
  }

  &__item {
    @media (max-width: 71.875em) {
      &:not(:last-child) {
        margin: 0;
      }
    }
  }

  &__link {
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--hover-link-color);
    }

    &:active {
      color: var(--active-link-color);
    }

    @media (max-width: 71.875em) {
      display: inline-block;
      padding: 1.25rem 1.875rem;
      width: 100%;
      font-size: 1.25rem;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    line-height: 1.2rem;
    text-transform: uppercase;
    color: var(--purple-color);
    gap: 0 0.25rem;

    svg {
      width: 1rem;
      height: 1rem;
      fill: var(--purple-color);
    }

    @media (max-width: 71.875em) {
      z-index: 5;
    }
  }

  @media (max-width: 71.875em) {
    --header-height: 6.8125rem;

    position: fixed;
    right: -100%;
    top: var(--header-height);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding: 1.875rem 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--light-color);
    transition: right 0.4s ease-in-out;

    @media (max-width: $mobileSmall) {
      --header-height: 10.4375rem;

      height: calc(100vh - var(--header-height));
    }

    @media (max-width: 26.2488em) {
      --header-height: 14.5rem;

      height: calc(100vh - var(--header-height));
    }
  }
}

.burger {
  @include burger;

  display: none;

  @media (max-width: 71.875em) {
    z-index: 5;
    display: block;
  }
}

.menu--active {
  right: 0;
}
