.hero {
  margin: 0 0 5rem;
}

.hero-top {
  @include flex;

  gap: 0 var(--gap);

  &__title {
    flex: 0 1 36.25rem;
    font-size: 3.75rem;
    line-height: 4.5rem;

    @media (max-width: $tablet) {
      flex: none;
    }

    @media (max-width: $mobileSmall) {
      margin: 0 0 1rem;
      font-size: 2rem;
      line-height: 1.5rem;
    }
  }

  &__text {
    flex: 0 1 23.75rem;
    margin: 1.5rem 0 0;
    line-height: 1.235rem;

    @media (max-width: $tablet) {
      flex: none;
      margin: 0 0 1rem;
    }

    // @media (max-width: $mobile) {
    // }
  }

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}
