<header class="header fixed-block">
  <div class="header__container">
    <a class="header__logo" href="#">Logo</a>
    <nav class="nav" title="" data-menu>
      <ul class="nav__list">
        <li class="nav__item" data-menu-item><a href="#" class="nav__link" data-scroll>Пункт 1</a></li>
        <li class="nav__item" data-menu-item><a href="#" class="nav__link" data-scroll>Пункт 2</a></li>
        <li class="nav__item" data-menu-item><a href="#" class="nav__link" data-scroll>Пункт 3</a></li>
        <li class="nav__item" data-menu-item><a href="#" class="nav__link" data-scroll>Пункт 4</a></li>
        <li class="nav__item" data-menu-item><a href="#" class="nav__link" data-scroll>Пункт 5</a></li>
        <li class="nav__item" data-menu-item><a href="#" class="nav__link" data-scroll>Пункт 6</a></li>
      </ul>
    </nav>
    <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
