<section class="news">
  <div class="news__container">
    <h2 class="news__title title">Новости</h2>
    <div class="news-content swiper">
      <div class="news-content__wrapper swiper-wrapper">
        <div class="news-content__slide swiper-slide">
          <article class="news-content__card">
            <img src="../img/news-image-1.jpg" width="380" height="251" alt="НПП «ПИОНЕР»">
            <div class="news-content__inner">
              <h3 class="news-content__title">
                НПП «ПИОНЕР» подтвердило свои компетенции в области консультирования и изготовления…
              </h3>
              <div class="news-content__bottom">
                <a class="news-content__link" href="#">Читать далее</a>
                <time class="news-content__date" datetime="2020-07-20">20.07.2020</time>
              </div>
            </div>
          </article>
        </div>
        <div class="news-content__slide swiper-slide">
          <article class="news-content__card">
            <img src="../img/news-image-2.jpg" width="380" height="251" alt="НПП «ПИОНЕР»">
            <div class="news-content__inner">
              <h3 class="news-content__title">
                Поздравляем коллектив регионального представительства «ПИОНЕР» с праздником!
              </h3>
              <div class="news-content__bottom">
                <a class="news-content__link" href="#">Читать далее</a>
                <time class="news-content__date" datetime="2020-07-20">18.07.2020</time>
              </div>
            </div>
          </article>
        </div>
        <div class="news-content__slide swiper-slide">
          <article class="news-content__card">
            <img src="../img/news-image-3.jpg" width="380" height="251" alt="НПП «ПИОНЕР»">
            <div class="news-content__inner">
              <h3 class="news-content__title">
                Перенос сроков проведения запланированных работ в 2020 году
              </h3>
              <div class="news-content__bottom">
                <a class="news-content__link" href="#">Читать далее</a>
                <time class="news-content__date" datetime="2020-07-20">20.06.2020</time>
              </div>
            </div>
          </article>
        </div>
        <div class="news-content__slide swiper-slide">
          <article class="news-content__card">
            <img src="../img/news-image-1.jpg" width="380" height="251" alt="НПП «ПИОНЕР»">
            <div class="news-content__inner">
              <h3 class="news-content__title">
                НПП «ПИОНЕР» подтвердило свои компетенции в области консультирования и изготовления…
              </h3>
              <div class="news-content__bottom">
                <a class="news-content__link" href="#">Читать далее</a>
                <time class="news-content__date" datetime="2020-07-20">20.07.2020</time>
              </div>
            </div>
          </article>
        </div>
        <div class="news-content__slide swiper-slide">
          <article class="news-content__card">
            <img src="../img/news-image-2.jpg" width="380" height="251" alt="НПП «ПИОНЕР»">
            <div class="news-content__inner">
              <h3 class="news-content__title">
                Поздравляем коллектив регионального представительства «ПИОНЕР» с праздником!
              </h3>
              <div class="news-content__bottom">
                <a class="news-content__link" href="#">Читать далее</a>
                <time class="news-content__date" datetime="2020-07-20">18.07.2020</time>
              </div>
            </div>
          </article>
        </div>
        <div class="news-content__slide swiper-slide">
          <article class="news-content__card">
            <img src="../img/news-image-3.jpg" width="380" height="251" alt="НПП «ПИОНЕР»">
            <div class="news-content__inner">
              <h3 class="news-content__title">
                Перенос сроков проведения запланированных работ в 2020 году
              </h3>
              <div class="news-content__bottom">
                <a class="news-content__link" href="#">Читать далее</a>
                <time class="news-content__date" datetime="2020-07-20">20.06.2020</time>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
