<section class="products">
  <div class="products__container">
    <h2 class="products__title title">Продукция</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products-card">
          <img src="../img/products-image-1.png" width="200" alt="Сигнализатор уровня">
          <h3 class="products-card__title">Сигнализатор уровня</h3>
          <a class="products-card__link" href="#">
            Подробнее
            <svg class="products-card__sprite">
              <use xlink:href='img/sprite.svg#products-arrow-right'>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <div class="products-card products-card--margin">
          <img src="../img/products-image-2.png" width="200" alt="Датчики давления">
          <h3 class="products-card__title">Датчики давления</h3>
          <a class="products-card__link" href="#">
            Подробнее
            <svg class="products-card__sprite">
              <use xlink:href='img/sprite.svg#products-arrow-right'>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <div class="products-card">
          <img src="../img/products-image-3.png" width="200" alt="ПИД-регуляторы">
          <h3 class="products-card__title">ПИД-регуляторы</h3>
          <a class="products-card__link" href="#">
            Подробнее
            <svg class="products-card__sprite">
              <use xlink:href='img/sprite.svg#products-arrow-right'>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <div class="products-card">
          <img src="../img/products-image-4.png" width="200" alt="Калибратор давления">
          <h3 class="products-card__title">Калибратор давления</h3>
          <a class="products-card__link" href="#">
            Подробнее
            <svg class="products-card__sprite">
              <use xlink:href='img/sprite.svg#products-arrow-right'>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <div class="products-card">
          <img src="../img/products-image-5.png" width="200" alt="Корректор расхода газа">
          <h3 class="products-card__title">Корректор расхода газа</h3>
          <a class="products-card__link" href="#">
            Подробнее
            <svg class="products-card__sprite">
              <use xlink:href='img/sprite.svg#products-arrow-right'>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <div class="products-card">
          <img src="../img/products-image-6.png" width="200" alt="Манометры">
          <h3 class="products-card__title">Манометры</h3>
          <a class="products-card__link" href="#">
            Подробнее
            <svg class="products-card__sprite">
              <use xlink:href='img/sprite.svg#products-arrow-right'>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
